<html>
<body>
<h1> {{ansible_hostname}} is managed by Ansible </h1>
<h3> Welcome to the host: {{ansible_fqdn}} </h3>
<h3> OS Family          : {{ansible_os_family}}</h3>
<h3> Doc Root           : {{doc_root}}</h3>
<h3> UserName           : {{user}}</h3>
<h3> Binding Port       : {{http_port}}</h3>
</body>
</html>
